<div class="clientList viewBox">
  <div class="zwSearch">
    <div style="float: left">
      <span style="color: #999;">关键字搜索：</span>
      <el-input style="width: 200px; display: inline-block;" [(ngModel)]="search" placeholder="请输入"></el-input>
      <el-button (click)="getList(1)" [plain]="true" type="success">搜索</el-button>
    </div>
    <div class="right">
      <span>开始时间</span>
      <el-date-picker style="display: inline-block" [(model)]="beginTime"
                      [format]="'yyyy年MM月dd日'"></el-date-picker>
      <span>截至时间</span>
      <el-date-picker style="display: inline-block" [(model)]="endTime"
                      [format]="'yyyy年MM月dd日'"></el-date-picker>
      <el-button (click)="getExportInfoList()" size="mini" type="primary">
        下载已补贴
      </el-button></div>
  </div>
  <div class="printBody" #print_div>
    <h1 style="text-align: center">《观山湖区"万物互联"安装补贴申请表》</h1>
    <table class="zwTable" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="width: 14%">申请编号</td>
        <td style="width: 14%">{{printItem.id}}</td>
        <td style="width: 14%">申请时间</td>
        <td style="width: 14%"></td>
        <td style="width: 14%">安装时间</td>
        <td style="width: 14%"></td>
      </tr>
      <tr>
        <td>申请人姓名</td>
        <td colspan="2">{{printItem.contact}}</td>
        <td>所属区域</td>
        <td colspan="2">{{printItem.address}}</td>
      </tr>
      <tr>
        <td>申请人身份证</td>
        <td colspan="2">{{printItem.idcard}}</td>
        <td>用户联系电话</td>
        <td colspan="2">{{printItem.contacttel}}</td>
      </tr>
      <tr>
        <td>车牌</td>
        <td colspan="2">{{printItem.licenseplate}}</td>
        <td>安装车辆型号</td>
        <td colspan="2">{{printItem.cartype}}</td>
      </tr>
      <tr>
        <td>申请补贴金</td>
        <td colspan="2" style="text-align: right">
          <span >(元)</span>
        </td>
        <td>申请人签字</td>
        <td colspan="2"></td>
      </tr>
    </table>
    <p>
      年
      <span></span>
      月
      <span></span>
      日
      <span></span>
    </p>
  </div>

  <div class="viewMain"  [el-loading]="loading" [text]="'拼命加载中'">
    <div class="noData" *ngIf="!list.length">
      <span>没有数据...</span>
    </div>
    <table class="zwTable">
      <tr>
        <th>车主姓名</th>
        <th>用户住址</th>
        <th>身份证</th>
        <th>车主电话</th>
        <!--<th>品牌</th>
        <th>车辆类型</th>
        <th>颜色</th>-->
        <th>电机号/车架号</th>
        <th>审核状态</th>
        <th>审核时间</th>
        <th>审核操作人</th>
        <th>是否属于补贴区域</th>
        <th *ngIf="userType!='1'">是否已补贴</th>
        <th *ngIf="userType!='1'">补贴操作人</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.contact}}</td>
        <td>{{item.address}}</td>
        <td>{{item.idcard}}</td>
        <td>{{item.contacttel}}</td>
        <!--<td>{{item.brand}}</td>
        <td>{{item.cartype}}</td>
        <td>{{item.color}}</td>-->
        <td>{{item.licenseplate}}</td>
        <td class="el-tag-box">
          <el-tag *ngIf="item.op_flag==1" type="success">已审核</el-tag>
          <el-tag *ngIf="item.op_flag!=1" type="warning">未审核</el-tag>
        </td>
        <td>{{item.op_time}}</td>
        <td>{{item.op_name}}</td>
        <td>
          <span *ngIf="item.op_flag==1">属于</span>
        </td>
        <td *ngIf="userType!=1" class="el-tag-box">
          <el-tag *ngIf="item.subsidy_flag==1&&item.op_flag==1" type="success">已补贴</el-tag>
        </td>
        <td *ngIf="userType!=1">{{item.subsidy_name}}</td>
        <td style="width: 280px; text-align: center;">
          <el-button *ngIf="userType!=2" (click)="editAdess(item)" size="mini"  type="primary"
                     [plain]="true">修改住址</el-button>
          <el-button *ngIf="item.op_flag!=1&&userType!=2" (click)="verify(item.id)" size="mini"  type="primary"
                     [plain]="true">审核通过</el-button>
          <el-button *ngIf="item.op_flag==1&&userType!=1&&item.subsidy_flag!=1" (click)="bt(item)" size="mini"
                     type="success"
                     [plain]="true">确认补贴</el-button>


          <essence-ng2-print *ngIf="item.op_flag==1&&userType!=1"
            [mode]="'popup'"
            [popTitle]="''"
            [btnText]="'打印申请'"
            [btnClass]="{'btn': true, 'btn-info': true}"
            [printHTML]="print_div"
            [printStyle]="printStyle"
            [printCSS]="printCSS"
            [showBtn]="printBtnBoolean"
            (click)="beforePrint(item)"
            (printComplete)="printComplete()">
          </essence-ng2-print>
        </td>
      </tr>
    </table>
    <div class="pageBox">
      <el-pagination *ngIf="total" [total]="total"
                     [page-size]="pageSize"
                     [(model)]="pageNum"
                     (modelChange)="getList(0)"
                     [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
      </el-pagination>
    </div>
    <el-dialog [(visible)]="toggle" custom-class="tagBox"
               [center]="true" [show-close]="false" [width]="'300px'">
      <ng-template #title style="padding-top: 10px;">
        <span class="el-icon-warning"></span>
        <span>确定审核</span>
      </ng-template>
      <div>审核通过不可修改，是否确定？</div>
      <ng-template #footer style="padding-bottom: 10px;">
        <el-button (click)="toggle=false" [plain]="true" type="info" size="small">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
        <el-button (click)="qd()" [plain]="true" type="success" size="small">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
      </ng-template>
    </el-dialog>
    <el-dialog [(visible)]="toggle1" custom-class="tagBox"
               [center]="true" [show-close]="false" [width]="'300px'">
      <ng-template #title style="padding-top: 10px;">
        <span class="el-icon-warning"></span>
        <span>确定已经补贴</span>
      </ng-template>
      <div>确定补贴不可修改，是否确定？</div>
      <ng-template #footer style="padding-bottom: 10px;">
        <el-button (click)="toggle1=false" [plain]="true" type="info" size="small">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
        <el-button (click)="qdBt()" [plain]="true" type="success" size="small">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
      </ng-template>
    </el-dialog>
    <el-dialog [(visible)]="toggle3"
               [center]="true" [show-close]="false" [width]="'700px'">
      <ng-template #title style="padding-top: 10px; text-align: left;">
        <span>修改住址</span>
      </ng-template>
      <div style="text-align: center;">
        <el-select [(model)]="activeEdit.location_id" placeholder="请选择">
          <el-option *ngFor="let item of locationList"
                     [label]="item.location_name"
                     [value]="item.id">
          </el-option>
        </el-select>
      </div>
      <ng-template #footer style="padding-bottom: 10px;">
        <el-button (click)="toggle3=false" [plain]="true" type="info" size="small">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
        <el-button (click)="qdaddress()" [plain]="true" type="success" size="small">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
      </ng-template>
    </el-dialog>
  </div>
</div>


