<div class="clientList viewBox">
  <div class="zwSearch">
    <div>
      <span style="color: #999;">关键字搜索：</span>
      <el-input style="width: 200px; display: inline-block;" [(ngModel)]="search" placeholder="请输入"></el-input>
      <el-button (click)="getList(1)" [plain]="true" type="success">搜索</el-button>
    </div>
    <div class="right">
      <!--<el-button *ngIf="userType!=2" (click)="add()" size="mini" type="primary">添加</el-button>--></div>
  </div>
  <div class="printBody" #print_div>
    <h1 style="text-align: center">《观山湖区"万物互联"安装补贴申请表》</h1>
    <table class="zwTable">
      <tr>
        <td>申请编号</td>
        <td>{{printItem.id}}</td>
        <td>申请时间</td>
        <td></td>
        <td>安装时间</td>
        <td></td>
      </tr>
      <tr>
        <td>申请人姓名</td>
        <td>{{printItem.contact}}</td>
        <td>所属区域</td>
        <td>{{printItem.address}}</td>
      </tr>
      <tr>
        <td>申请人身份证</td>
        <td>{{printItem.idcard}}</td>
        <td>用户联系电话</td>
        <td>{{printItem.contacttel}}</td>
      </tr>
      <tr>
        <td>车牌</td>
        <td>{{printItem.licenseplate}}</td>
        <td>安装车辆型号</td>
        <td>{{printItem.cartype}}</td>
      </tr>
      <tr>
        <td>申请补贴金</td>
        <td>{{printItem.address}}</td>
        <td>申请人签字</td>
        <td>{{printItem.address}}</td>
      </tr>
    </table>
  </div>

  <div class="viewMain"  [el-loading]="loading" [text]="'拼命加载中'">
    <div class="noData" *ngIf="!list.length">
      <span>没有数据...</span>
    </div>
    <table class="zwTable">
      <tr>
        <th>车主姓名</th>
        <th>用户住址</th>
        <th>身份证</th>
        <th>车主电话</th>
        <th>品牌</th>
        <th>车辆类型</th>
        <th>颜色</th>
        <th>车牌号</th>
        <th>审核</th>
        <th>审核时间</th>
        <th>审核人</th>
        <th *ngIf="userType!=2">操作</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.contact}}</td>
        <td>{{item.address}}</td>
        <td>{{item.idcard}}</td>
        <td>{{item.contacttel}}</td>
        <td>{{item.brand}}</td>
        <td>{{item.cartype}}</td>
        <td>{{item.color}}</td>
        <td>{{item.licenseplate}}</td>
        <td class="el-tag-box">
          <el-tag *ngIf="item.op_flag==1" type="success">已审核</el-tag>
          <el-tag *ngIf="item.op_flag!=1" type="warning">未审核</el-tag>
        </td>
        <td>{{item.op_time}}</td>
        <td>{{item.op_name}}</td>
        <td style="width: 120px; text-align: center;" *ngIf="userType!=2">
          <el-button *ngIf="item.op_flag!=1" (click)="verify(item.id)" size="mini"  type="primary" icon="circle-check"
                     [plain]="true">审核通过</el-button>
          <el-button *ngIf="item.op_flag==10" (click)="print(item)" size="mini"  type="info" icon="circle-check"
                     [plain]="true">打印</el-button>
          <essence-ng2-print *ngIf="item.op_flag==1"
            [mode]="'popup'"
            [popTitle]="'打印'"
            [btnText]="'打印申请'"
            [btnClass]="{'btn': true, 'btn-info': true}"
            [printHTML]="print_div"
            [printStyle]="printStyle"
            [printCSS]="printCSS"
            [showBtn]="printBtnBoolean"
            (click)="beforePrint(item)"
            (printComplete)="printComplete()">
          </essence-ng2-print>
        </td>
      </tr>
    </table>
    <div class="pageBox">
      <el-pagination *ngIf="total" [total]="total"
                     [page-size]="pageSize"
                     [(model)]="pageNum"
                     (modelChange)="getList(0)"
                     [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
      </el-pagination>
    </div>
    <el-dialog [(visible)]="toggle" custom-class="tagBox"
               [center]="true" [show-close]="false" [width]="'300px'">
      <ng-template #title style="padding-top: 10px;">
        <span class="el-icon-warning"></span>
        <span>确定审核</span>
      </ng-template>
      <div>审核通过不可修改，是否确定？</div>
      <ng-template #footer style="padding-bottom: 10px;">
        <el-button (click)="toggle=false" [plain]="true" type="info" size="small">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
        <el-button (click)="qd()" [plain]="true" type="success" size="small">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
      </ng-template>
    </el-dialog>
  </div>
</div>


