<div class="clientList viewBox">
  <div class="zwSearch">
    <div>
      <span style="color: #999;">关键字搜索：</span>
      <el-input style="width: 200px; display: inline-block;" [(ngModel)]="search" placeholder="请输入"></el-input>
      <el-button (click)="getList(1)" [plain]="true" type="success">搜索</el-button>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain" [el-loading]="loading" [text]="'拼命加载中'">
    <div class="noData" *ngIf="!list.length">
      <span>没有数据...</span>
    </div>
    <table class="zwTable">
      <tr>
        <th>操作内容</th>
        <th>操作人</th>
        <th>操作人Ip</th>
        <th>时间</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.op_content}}</td>
        <td>{{item.op_user}}</td>
        <td>{{item.ip_address}}</td>
        <td>{{item.op_time}}</td>
      </tr>
    </table>
    <div class="pageBox">
      <el-pagination *ngIf="total" [total]="total"
                     [page-size]="pageSize"
                     [(model)]="pageNum"
                     (modelChange)="getList(0)"
                     [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
      </el-pagination>
    </div>

  </div>
</div>


