<div class="addUser viewBox">
  <div class="zwSearch">
    <div class="left">
      <span>{{title}}</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain">
    <div class="addFrom">

      <div>
        <span>登&nbsp;录&nbsp;&nbsp;名：</span>
        <el-input [elDisabled]="!!user.id" [(model)]="user.login_name" placeholder="请输入登录名"></el-input>
      </div>
      <div *ngIf="!user.id">
        <span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
        <el-input [(model)]="user.login_pwd" placeholder="请输入密码" native-type="password"></el-input>
      </div>
      <div *ngIf="!user.id">
        <span>重复密码：</span>
        <el-input [(model)]="user.login_pwd1" placeholder="请输入密码" native-type="password"></el-input>
      </div>
      <div>
        <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
        <el-input [(model)]="user.user_name" placeholder="请输入用户名"></el-input>
      </div>
      <div *ngIf="user.id">
        <span>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</span>
        <el-select [(model)]="user.user_status" placeholder="请选择">
          <el-option *ngFor="let item of statusList"
                     [label]="item.name"
                     [value]="item.value">
          </el-option>
        </el-select>
      </div>
      <div>
        <span>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：</span>
        <el-select [(model)]="user.location_id" placeholder="请选择">
          <el-option *ngFor="let item of locationList"
                     [label]="item.location_name"
                     [value]="item.id">
          </el-option>
        </el-select>
      </div>

      <br>
      <el-button (click)="save()" [plain]="true" type="success">保存</el-button>
    </div>
  </div>
</div>



